{% extends 'task/base.html' %}

{% block content %}

<div class="container px-4 py-5" id="featured-3">
    <!--    <h2 class="pb-2 border-bottom">OUR TASKS</h2>-->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">

            </div>
            {% for t in tasks %}
            <h3 class="fs-2">{{ t.title }}</h3>
            <a href="{% url 'task' t.pk %}" class="icon-link d-inline-flex align-items-center">
                Detail
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
            {% empty %}
            <p> No tasks there. </p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}